@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {background-color:#ffffff ; font-family:'Bree Serif', serif; /*color: #1769CB*/}

#logoinicio { width:20%; height: 200%; float: center; margin-bottom: -80px; margin-top: -110px; padding:10px;}
.navbar>.container-fluid .navbar-brand {margin-top: -15px}

#header { background-color: #28a3db; /*padding: 10px; text-align: center; height: 130px; width: 100%*/}


#header h3 a {color:black; font-size:large; 
              text-decoration:none; }

#header h3{color:black; text-align:right; font-size:large;
           margin-right:20px;}
#header h3 img{width: 30px;height: 20px;margin-bottom:-8px;}  
#menu{ padding: 10px; margin: 10px; background-color: black;}

#container {background-color: #ffffff; float:;}

 /*footer------*/
#footer{margin-right:20px;
}
#footer ul{text-align: center;list-style-type: none;
}
#footer li{display:inline; margin: 0 10px 0 0;text-decoration:none;
}
#footer li a{    text-decoration: none;
                 color:white;margin: 4px 2px;
                 cursor: pointer;
                 border-radius:4px;
                 padding: 4px 8px;
                 background-color: #4CAF50;
                 border: none;
} 

/*-----------------ingresar-----------------*/
/*#ingresar{background:rgb(234, 231, 231);}
#datos{padding: 30px 50px;text-align:left;
       margin:10px 300px;
       margin-top:30px;background-color:#ED8713E6;;
}
#datos  form{margin-left: 100px;font-family:sans-serif;
}    
#datos form input[type=text], input[type=password], input[type=email]
         {border-radius:4px;
}
#datos  input[type=submit]{
                 border-radius: 4px;
                 color:white;
                 background-color:blue;
                 border:none;
                 padding:16px 48px;
                 font-size:20px;
                 margin-top:20px;
}
#datos p{font-size: 12px;color:#787878;
}*/
.login-form {
  width: 410px;
  margin: auto;
  position: relative;
  background: #f3f3f3;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}         

/*******************
HEADER
*******************/
#wrapper {
  /* Center wrapper perfectly */
  width: 410px;
  height: 400px;
  margin: 70px auto;
}
#wrapper h1{text-align: center;}  

.login-form .header {
  padding: 10px 30px 30px 30px;
}

.login-form .header h1 {
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 28px;
  line-height:34px;
  color: #414848;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  margin-bottom: 10px;
}

.login-form .header span {
  font-size: 11px;
  line-height: 16px;
  color: #678889;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
  padding: 0 60px 50px 50px;
  /*background-color: DarkOrange;*/
  width: 300;
}

/* Input field */
.login-form .content .input, #area {
  width: 305px;
  padding: 15px 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  
  font-family:'Bree Serif', serif;
  font-weight: 400;
  font-size: 16px;
  color: #9d9e9e;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}
#fecha, #precio{width: 180px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  
  font-family:'Bree Serif', serif;
  font-weight: 400;
  font-size: 16px;
  color: #9d9e9e;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);}
  #semana{width: 30px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  
  font-family:'Bree Serif', serif;
  font-weight: 400;
  font-size: 16px;
  color: #9d9e9e;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);}


/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-form .content .input:hover {
  background: #dfe9ec;
  color: #414848;
}

.login-form .content .input:focus {
  background: #dfe9ec;
  color: #414848;
  
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
/*******************
FOOTER
*******************/

.login-form .footer {
  padding: 15px 20px 30px 20px;
  overflow: auto;
  
  background: #d4dedf;
  border-top: 1px solid #fff;
  
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .button {
  padding: 11px 25px;
  
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  
  background: #FF9500; /*color boton */
  border: 1px solid #E88803; /*color boton borde*/
  border-radius: 5px;
  cursor: pointer;
  
  box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}
.login-form .footer .button2 {
  padding: 11px 25px;
  
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 18px;
  color:#e88803;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  
  background: #FF9500; /*color boton */
  border: 2px solid #E88803; /*color boton borde*/
  border-radius: 5px;
  cursor: pointer;
  
  box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}


.login-form .footer .button:hover {
  background: #D19D0F; /*color boton focus*/
  border: 1px solid rgba(256,256,256,0.75);
  
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
  position: relative;
  bottom: -1px;
  
  background: #D19D0F; /*color boton clic*/
  
  box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
  -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
  -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}
.login-form a{
  color: black;
}


/* Register button */
.footer .register {
  display: block;
  float: right;
  padding: 10px;
  margin-right: 20px;
  
  background: none;
  border: none;
  cursor: pointer;
  
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 18px;
  color: #414848;
  text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .register:hover {
  color: #D19D0F; /*color texto focus*/
}

.login-form .footer .register:focus {
  position: relative;
  bottom: -1px;
}




.navegacion{
  width: 100px;
  margin: 30px auto;
  background: #fff;
}

.navegacion ul{
  list-style: none;
}

.menu > li{
  margin-bottom: -25px; margin-top: 0px;
  position: relative;
  display: inline-block;
}

/*letras del menu principal (propiedades subastas)*/
.menu > li > a{
  display: block;
  padding: 15px 20px;
  color: #353535;
 font-family: 'Bree Serif', serif;
  text-decoration: none;

}
/*color que muestra cuando pones el mouse arriba*/
.menu li a:hover{
  color: #ffffff;
  transition: all .3s;
}

/* Submenu*/
/* color del fondo del cuadrado del submenu*/
.submenu{
   padding-left: 5px;
   padding-bottom: 5px;
  list-style: none;
  position: absolute;
  background: #28a3db;
  width: 150%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}
/* color de las letras del submenu*/
.submenu li a{
  padding-bottom: 5px;
  display: block;
  color: #353535;
 font-family: 'Bree Serif', serif;
  text-decoration: none;
}

.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;

  z-index: 999;

}

.valoracion {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.valoracion input {
    position: absolute;
    top: -100px;
}


.valoracion label {
    float: right;
    color: #c1b8b8;
    font-size: 30px; 
}

.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
    color: #ffff00;
}
